<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
  <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json"> -->
</head>

<body>
  <div class="wrapper">
    <header id="header">
      <a class="icon" href="./index.html"><span id="icon_home">Home</span></a>
      <div id="counters">
        <h1>be smart with antiPazz</h1>
      </div>
      <button class="icon"><span id="icon_settings">&#9776;</span></button>
    </header>

    <div id="control">
      <button id="mode_antiPazz">antiPazz</button>
      <button id="mode_quiz">quiz</button>
      <button id="mode_polyglot">polyglot</button>
    </div>

    <div id="showroom"></div>
    <div id="app"></div>
  </div>
  <!-- дополнительная заглушка перед </body> как антикеширование: 
  <script>
    if (window.location.search.indexOf('bustcache') === -1) {
      const newUrl = window.location.href + (window.location.search ? '&' : '?') + 'bustcache=' + new Date().getTime();
      window.history.replaceState({}, document.title, newUrl);
    }
  </script>
  -->
</body>

</html>